<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[大笑]</key>
	<string>emoji000</string>
	<key>[可爱]</key>
	<string>emoji001</string>
	<key>[爱慕]</key>
	<string>emoji002</string>
	<key>[嘘]</key>
	<string>emoji003</string>
	<key>[亲]</key>
	<string>emoji004</string>
	<key>[呆]</key>
	<string>emoji005</string>
	<key>[口水]</key>
	<string>emoji006</string>
	<key>[呲牙]</key>
	<string>emoji007</string>
	<key>[鬼脸]</key>
	<string>emoji008</string>
	<key>[汗]</key>
	<string>emoji009</string>
	<key>[害羞]</key>
	<string>emoji010</string>
	<key>[偷笑]</key>
	<string>emoji011</string>
	<key>[调皮]</key>
	<string>emoji012</string>
	<key>[可怜]</key>
	<string>emoji013</string>
	<key>[敲]</key>
	<string>emoji014</string>
	<key>[吃惊]</key>
	<string>emoji015</string>
	<key>[流感]</key>
	<string>emoji016</string>
	<key>[委屈]</key>
	<string>emoji017</string>
	<key>[大哭]</key>
	<string>emoji018</string>
	<key>[嚎哭]</key>
	<string>emoji019</string>
	<key>[惊恐]</key>
	<string>emoji020</string>
	<key>[怒]</key>
	<string>emoji021</string>
	<key>[酷]</key>
	<string>emoji022</string>
	<key>[不说]</key>
	<string>emoji023</string>
	<key>[鄙视]</key>
	<string>emoji024</string>
	<key>[阿弥陀佛]</key>
	<string>emoji025</string>
	<key>[坏笑]</key>
	<string>emoji026</string>
	<key>[睡着]</key>
	<string>emoji027</string>
	<key>[口罩]</key>
	<string>emoji028</string>
	<key>[努力]</key>
	<string>emoji029</string>
	<key>[抠鼻孔]</key>
	<string>emoji030</string>
	<key>[疑问]</key>
	<string>emoji031</string>
	<key>[怒骂]</key>
	<string>emoji032</string>
	<key>[晕]</key>
	<string>emoji033</string>
	<key>[呕吐]</key>
	<string>emoji034</string>
	<key>[拜一拜]</key>
	<string>emoji035</string>
	<key>[惊喜]</key>
	<string>emoji036</string>
	<key>[流汗]</key>
	<string>emoji037</string>
	<key>[卖萌]</key>
	<string>emoji038</string>
	<key>[默契眨眼]</key>
	<string>emoji039</string>
	<key>[烧香拜佛]</key>
	<string>emoji040</string>
	<key>[晚安]</key>
	<string>emoji041</string>
	<key>[媚眼]</key>
	<string>emoji042</string>
	<key>[沉默]</key>
	<string>emoji043</string>
	<key>[笑喷了]</key>
	<string>emoji044</string>
	<key>[不高兴]</key>
	<string>emoji045</string>
	<key>[肉麻]</key>
	<string>emoji046</string>
	<key>[极度无语]</key>
	<string>emoji047</string>
	<key>[捧腹大笑]</key>
	<string>emoji048</string>
	<key>[憨笑]</key>
	<string>emoji049</string>
	<key>[沮丧]</key>
	<string>emoji050</string>
	<key>[害怕]</key>
	<string>emoji051</string>
	<key>[睡]</key>
	<string>emoji052</string>
	<key>[惆怅]</key>
	<string>emoji053</string>
	<key>[愤怒]</key>
	<string>emoji054</string>
	<key>[囧]</key>
	<string>emoji055</string>
	<key>[烈焰红唇]</key>
	<string>emoji056</string>
	<key>[注视]</key>
	<string>emoji057</string>
	<key>[强]</key>
	<string>emoji058</string>
	<key>[倒彩]</key>
	<string>emoji059</string>
	<key>[OK]</key>
	<string>emoji060</string>
	<key>[力量]</key>
	<string>emoji061</string>
	<key>[欧耶]</key>
	<string>emoji062</string>
	<key>[鼓掌]</key>
	<string>emoji063</string>
	<key>[握手]</key>
	<string>emoji064</string>
	<key>[拳头]</key>
	<string>emoji065</string>
	<key>[强壮]</key>
	<string>emoji066</string>
	<key>[祈祷]</key>
	<string>emoji067</string>
	<key>[恶魔]</key>
	<string>emoji068</string>
	<key>[骷髅]</key>
	<string>emoji069</string>
	<key>[幽灵]</key>
	<string>emoji070</string>
	<key>[外星人]</key>
	<string>emoji071</string>
	<key>[圣诞老人]</key>
	<string>emoji072</string>
	<key>[便便]</key>
	<string>emoji073</string>
	<key>[火]</key>
	<string>emoji074</string>
	<key>[爱心]</key>
	<string>emoji075</string>
	<key>[心碎]</key>
	<string>emoji076</string>
	<key>[钟情]</key>
	<string>emoji077</string>
	<key>[吻]</key>
	<string>emoji078</string>
	<key>[礼物]</key>
	<string>emoji079</string>
	<key>[戒指]</key>
	<string>emoji080</string>
	<key>[钻石]</key>
	<string>emoji081</string>
	<key>[太阳]</key>
	<string>emoji082</string>
	<key>[月亮]</key>
	<string>emoji083</string>
	<key>[有时晴]</key>
	<string>emoji084</string>
	<key>[多云]</key>
	<string>emoji085</string>
	<key>[闪电]</key>
	<string>emoji086</string>
	<key>[雨]</key>
	<string>emoji087</string>
	<key>[雪花]</key>
	<string>emoji088</string>
	<key>[帽子]</key>
	<string>emoji089</string>
	<key>[皇冠]</key>
	<string>emoji090</string>
	<key>[篮球]</key>
	<string>emoji091</string>
	<key>[足球]</key>
	<string>emoji092</string>
	<key>[咖啡]</key>
	<string>emoji093</string>
	<key>[啤酒]</key>
	<string>emoji094</string>
	<key>[面条]</key>
	<string>emoji095</string>
	<key>[冰激凌]</key>
	<string>emoji096</string>
	<key>[生日蛋糕]</key>
	<string>emoji097</string>
	<key>[糖果]</key>
	<string>emoji098</string>
	<key>[葡萄]</key>
	<string>emoji099</string>
	<key>[西瓜]</key>
	<string>emoji100</string>
	<key>[手机]</key>
	<string>emoji101</string>
	<key>[电话]</key>
	<string>emoji102</string>
	<key>[电视]</key>
	<string>emoji103</string>
	<key>[烟]</key>
	<string>emoji104</string>
	<key>[炸弹]</key>
	<string>emoji105</string>
	<key>[枪]</key>
	<string>emoji106</string>
	<key>[刀]</key>
	<string>emoji107</string>
	<key>[药]</key>
	<string>emoji108</string>
	<key>[打针]</key>
	<string>emoji109</string>
	<key>[钱袋]</key>
	<string>emoji110</string>
	<key>[手柄]</key>
	<string>emoji111</string>
	<key>[麻将]</key>
	<string>emoji112</string>
	<key>[音乐]</key>
	<string>emoji113</string>
	<key>[吉他]</key>
	<string>emoji114</string>
	<key>[火箭]</key>
	<string>emoji115</string>
	<key>[飞机]</key>
	<string>emoji116</string>
	<key>[火车]</key>
	<string>emoji117</string>
	<key>[轿车]</key>
	<string>emoji118</string>
	<key>[自行车]</key>
	<string>emoji119</string>
</dict>
</plist>
